.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}
.output{
  outline: none;
  border: none;
  width: 300px;
  height: 90px;
  font-size: 45px;
  background:black;
  border-radius: 5px;
  text-align: end;
  color: white;
}
button{
  width: 70px;
  height: 70px;
  font-size: 26px;
  cursor: pointer;
  border: none;
  margin: 5px;
  border-radius: 50px;
  font-weight: bold;
  color: #fffde7;
  background-color:#333;
}
.Operator{
  border-right: none;
  background-color: darkorange;
}
.top-operator{
  background-color: #a5a5a5;
}
.Calculator{
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  
}